<div ng-controller="booksCtrl" class="allContent">
	<div>
	    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationCollapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/">Home</a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="navigationCollapse">
	                <ul class="nav navbar-nav">
	                	<!--
	                    <li class="dropdown">
	                    	<a href="" data-toggle="dropdown" class="dropdown-toggle">Sort By<b class="caret"></b></a>
	                    	<ul class="dropdown-menu">
	                    	    <li><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></li>
	                    	    <li><a href="" ng-click="predicate = 'author'; reverse=!reverse">Author</a></li>
	                    	    <li><a href="" ng-click="predicate = 'date_published'; reverse=!reverse">Date Published</a></li>
	                    	    <li><a href="" ng-click="predicate = 'date_acquired'; reverse=!reverse">Date Acquired</a></li>
	                    	    <li><a href="" ng-click="predicate = 'was_read'; reverse=!reverse">Has Been Read</a></li>
	                    	    <li><a href="" ng-click="predicate = 'rating'; reverse=!reverse">Rating</a></li>
	                    	    <li><a href="" ng-click="predicate = ''">None</a></li>
	                    	</ul>
	                    </li>-->
	                    <li><a href="/#/books/add-book">Add New Book</a></li>

	                </ul>
	            </div><!-- /.navbar-collapse -->
	        </div>
	    </nav>
	</div>
	<div class="input-group resultsFilter">
	    <input type="text" placeholder="Search By Title..." class="form-control" ng-model="searchText.title">
	    <span class="input-group-btn">
	    		<!-- Would allow user to choose what to filter by
	    		<button type="button" class="btn btn-default dropdown-toggle buttonFormatting" data-toggle="dropdown">Filter On <span class="caret"></span></button>
	    		    <ul class="dropdown-menu dropdown-menu-right" role="menu">
	    		        <li><a href="" ng-click="filterText = ''">All</a></li>
	    		        <li><a href="" ng-click="">Title</a></li>
	    		        <li><a href="" ng-click="filterAuthor()">Author</a></li>
	    		        <li><a href="" ng-click="filterRead()">Read</a></li>
	    		        <li><a href="" ng-click="filterRating()">Rating</a></li>
	    		        <li class="divider"></li>
	    		        <li><a href="" ng-click="clearFilter()">Clear Filter</a></li>
	    	        </ul>-->
	    	<button class="btn btn-default buttonFormatting" type="button" ng-click="predicate = ''">Clear Sort</button>
	    </span>
	</div>
	<table class="customTable"> 
		<tr>
			<th class="showUnderline"><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
			<th class="showUnderline"><a href="" ng-click="predicate = 'author'; reverse=!reverse">Author</a></th>
			<th class="showUnderline"><a href="" ng-click="predicate = 'date_published'; reverse=!reverse">Date Pub</a></th>
			<th class="showUnderline"><a href="" ng-click="predicate = 'date_acquired'; reverse=!reverse">Date Acq</a></th>
			<th class="showUnderline"><a href="" ng-click="predicate = 'was_read'; reverse=!reverse">Read</a></th>
			<th class="showUnderline"><a href="" ng-click="predicate = 'Rating'; reverse=!reverse">Rating</a></th>
		</tr>
		<tr ng-repeat="book in books | filter: searchText | orderBy:predicate:reverse" ng-click="goToDetailView(book.ISBN)">
			<td class="customRow">{{book.title}}</td>
			<td class="customRow">{{book.author}}</td>
			<td class="customRow">{{book.date_published}}</td>
			<td class="customRow">{{book.date_acquired}}</td>
			<td class="customRow">{{book.was_read}}</td>
			<td class="customRow">{{book.rating}}</td>
		</tr>
	</table>
</div>