<div ng-controller="addBookCtrl" class="allContent">
	
	<!--
	<h1>Import Information From Amazon</h1>
	<form class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="importTitle">Title</label>
			<input type="text" class="form-control" id="importTitle" placeholder="Title">
		</div>
		<div class="form-group">
			<label class="sr-only" for="importAuthor">Author</label>
			<input type="text" class="form-control" id="importAuthor" placeholder="Author">
		</div>
		<button type="submit" class="btn btn-primary">Import...</button>
	</form>

	<h4>- or -</h4>
	-->

	<!-- HTML for the form to add new book data -->
	<h1>Fill in the Following:</h1>
	<div class="addBookForm">
		<form class="form-horizontal">
			<div class="form-group" showErrors>
				<label for="inputTitle" class="control-label col-xs-2 detailHeading">Title</label>
				<div class="col-xs-10">
					<input type="text" ng-model="title" class="form-control" id="inputTitle" required/>
				</div>
			</div>
			<div class="form-group" showErrors>
				<label for="inputAuthor" class="control-label col-xs-2 detailHeading">Author</label>
				<div class="col-xs-10">
					<input type="text" ng-model="author" class="form-control" id="inputAuthor" required/>
				</div>
			</div>
			<div class="form-group" showErrors>
				<label for="inputISBN" class="control-label col-xs-2 detailHeading">ISBN</label>
				<div class="col-xs-10">
					<input type="text" ng-model="ISBN" class="form-control" id="inputISBN" required />
				</div>
			</div>
			<div class="form-group" showErrors>
				<label for="inputValue" class="control-label col-xs-2 detailHeading">Value</label>
				<div class="col-xs-10">
					<input type="number" ng-model="value" class="form-control" id="inputValue" required />
				</div>
			</div>
			<div class="form-group" showErrors>
				<label for="inputDatePublished" class="control-label col-xs-2 detailHeading">Published</label>
				<div class="col-xs-10">
					<input type="date" max="{{theCurrentDate}}" ng-model="date_published" class="form-control" id="inputDatePublished" required />
				</div>
			</div>	
			<div class="form-group" showErrors>
				<label for="inputDateAcquired" class="control-label col-xs-2 detailHeading">Acquired</label>
				<div class="col-xs-10">
					<input type="date" max="{{theCurrentDate}}" ng-model="date_acquired" class="form-control" id="inputDateAcquired" required/>
				</div>
			</div>
			<div class="form-group" showErrors>
				<label for="inputWasRead" class="control-label col-xs-2 detailHeading">Read</label>
				<div class="col-xs-10">
					<input type="text" ng-model="was_read" class="form-control" id="inputWasRead" required />
				</div>
			</div>		
			<div class="form-group" showErrors>
				<label for="inputRating" class="control-label col-xs-2 detailHeading">Rating</label>
				<div class="col-xs-10">
					<input type="number" min="1" max="10" step="1" ng-model="rating" class="form-control" id="inputRating" required />
				</div>
			</div>		
			<div class="form-group" showErrors>
				<label for="inputImage" class="control-label col-xs-2 detailHeading">Image</label>
				<div class="col-xs-10">
					<input type="file" accept="image/*" image="image" class="form-control" id="inputImage" required /><!--<img ng-src="{{image.dataURL}}" />-->
				</div>
			</div>
			<div class="form-group" showErrors>
				<label for="inputComments" class="control-label col-xs-2 detailHeading">Comments</label>
				<div class="col-xs-10">
					<input type="text" ng-model="comments" class="form-control" id="inputComments" required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<button type="submit" class="btn btn-primary" ng-click="addNewBook()">Submit</button>
				</div>
			</div>						
		</form>
	</div>
</div>