<div ng-controller="addBookCtrl" class="allContent">
	<form>
		<h1>Fill in the Following:</h1>
		<input type="text" ng-model="title" placeholder="title" />
		<input type="text" ng-model="author" placeholder="author" />
		<input type="text" ng-model="ISBN" placeholder="ISBN" />
		<input type="text" ng-model="value" placeholder="value" />
		<input type="text" ng-model="date_published" placeholder="date_published" />
		<input type="text" ng-model="date_acquired" placeholder="date_acquired" />
		<input type="text" ng-model="was_read" placeholder="was_read" />
		<input type="text" ng-model="rating" placeholder="rating" />
		<input type="file" accept="image/*" image="image" placeholder="img url" /><!--<img ng-src="{{image.dataURL}}" />-->
		<input type="text" ng-model="comments" placeholder="comments" />
	</form>

	<button ng-click="addNewBook()">
		Submit
	</button>
</div>