html, body {
	width: 100%;
	margin: 0;
}

body {
	background-color: #fecc5c;
}

.allContent {
	width: 70%;
	margin: 0 15%;
}

.mainHeader {
	display: flex;
	margin-top: 1.5em;
	margin-bottom: 1em;
	/*border: 1px solid #fd8d3c;*/
	box-shadow: 2px 2px 5px #888888;
	background: url(../images/Bookshelf.png);
	background-size: 50% 100%;
	background-repeat: repeat;
}

.headerLeft {
	/*background-color: #ffffb2;*/
	width: 50%;
	text-align: right;
	font-size: 3em;
	font-family: "Impact";
	color: #fd8d3c;
}

.headerRight {
	/*background-color: #ffffb2;*/
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

#headerRightText {
	text-align: right;
	padding-top: 1.5em;
	padding-left: 1.5em;
	font-size: 1em;
	font-family: "Helvetica";
}

.searchInput {
	margin: 1em;
	height: 30px;
}

.mainFooter {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
	font-family: "Open-Sans";
}

.homeContent {
	width: 100%;
	min-height: 20em;
	background-color: #ffffb2;
	/*border: 1px solid #fd8d3c;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hoverClick {
	cursor: pointer;
	font-size: 2em;
	font-family: "Open-Sans";
	border: 1px solid clear;
	border-radius: 0.5em;
	background-color: #858585;
	padding: 0.75em;
}

/* For the results table */
.customTable {
	width: 100%;
	margin-top: 1.5em;
	background-color: #ffffb2;
	border: 1px solid #fd8d3c;
}

.customRow {
	border: 1px solid #fd8d3c;
	cursor: pointer;
	padding: 0.5em;
}

.showUnderline {
	text-decoration: underline;
}

.addBookForm {
	width: 100%;
	background-color: #ffffb2;
	padding: 0.5em;
}

.resultsFilter {
	/*border: 1px solid #fd8d3c;*/
}

.navbar-default {
	border-color: #fd8d3c;
}

.buttonFormatting:hover {
	color: #e31a1c;
}

/*Styles for the detail view*/
.detailSummary {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/*border: 1px solid #fd8d3c;*/
	background-color: #ffffb2;
	box-shadow: 2px 2px 5px #888888;
}

.detailImage {
	max-width: 20em;
	max-height: 30em;
	padding: 0.5em;
	float: left;
}

.detailInfo {
	margin-left: 0.5em;
	padding: 0.5em;
}

.inputSpacing {
	margin-left: 1.25em;
}

.detailHeading {
	color: #fd8d3c;
}