html, body {
	width: 100%;
	margin: 0;
}

body {
	background-color: #FFE6E6;
}

.allContent {
	width: 70%;
	margin: 0 15%;
}

.mainHeader {
	display: flex;
	margin-top: 1.5em;
	margin-bottom: 0.25em;
	border: 2px solid red;
	border-radius: 2.5em;
	background: url(../images/Bookshelf.png);
	background-size: 12.5% 100%;
	background-repeat: repeat;
	min-height: 4em;
}

.headerLeft {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	font-family: "Impact";
	background-color: #000099;
	color: white;
	border: 2px solid red;
	border-radius: 0.25em;
	box-shadow: 2px 2px 5px #888888;
}

#headerRightText {
	text-align: right;
	padding-top: 1.5em;
	padding-left: 1.5em;
	font-size: 1em;
	font-family: "Helvetica";
}

.searchInput {
	margin: 1em;
	height: 30px;
}

.mainFooter {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
	font-family: "Open-Sans";
}

.homeContent {
	width: 100%;
	min-height: 8em;
	background-color: #003300;
	box-shadow: 2px 2px 5px #888888;
	border: 2px solid red;
	border-radius: 1em;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 2em;
	margin: 3em 0;
}

.formText {
	color: #FFFFCC;
	font-size: 1.25em;
	margin: 0 0.5em;
}

.hoverClick {
	cursor: pointer;
	font-size: 2em;
	font-family: "Open-Sans";
	border: 1px solid clear;
	border-radius: 0.5em;
	background-color: #858585;
	padding: 0.75em;
}

/* For the results table */

#myNavbar {
	margin: 3em 0;
}

.customTable {
	width: 100%;
	margin: 1.5em 0 3em 0;
	background-color: #003300;
	border: 2px solid red;
}

.customRow {
	border: 2px solid red;
	color: #FFFFCC;
	cursor: pointer;
	padding: 0.5em;
}

.showUnderline {
	text-decoration: underline;
}

.addBookForm {
	width: 100%;
	background-color: #003300;
	border: 2px solid red;
	margin: 1.5em 0 3em 0;
	padding: 0.5em;
}

.buttonFormatting:hover {
	color: #e31a1c;
}

/*Styles for the detail view*/
.detailSummary {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: flex-start;
	border: 2px solid red;
	border-radius: 0.5em;
	background-color: #003300;
	box-shadow: 2px 2px 5px #888888;
	margin: 3em 0;
}

.detailImage {
	max-width: 20em;
	max-height: 30em;
	padding: 0.5em;
	flex-shrink: 0;
	/*float: left;*/
}

.detailInfo {
	margin-left: 0.5em;
	padding: 0.5em;
	flex-shrink: 2;
}

.inputSpacing {
	margin-left: 1.25em;
	color: #FFFFCC;
}

.parSpacing {
	margin-left: 1.25em;
	color: black;
}

.detailHeading {
	color: #fd8d3c;
	min-width: 50px;
}