html, body {
	width: 100%;
	margin: 0;
}

.allContent {
	width: 100%;
	margin: 0;
}

.mainHeader {
	display: flex;
	margin-top: 1.5em;
	margin-bottom: 1em;
	border: 1px dashed black;
}

.headerLeft {
	background-color: #858585;
	width: 50%;
	text-align: right;
	font-size: 3em;
	font-family: "Impact";
}

.headerRight {
	background-color: #858585;
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

#headerRightText {
	text-align: right;
	padding-top: 1.5em;
	padding-left: 1.5em;
	font-size: 1em;
	font-family: "Helvetica";
}

.searchInput {
	margin: 1em;
	height: 30px;
}

.hoverClick {
	font-size: 1.5em;
	padding: 0.5em;
}

/* For detail view */
.detailSummary {
	justify-content: center;
}

