html, body {
	width: 100%;
	margin: 0;
}

.allContent {
	width: 100%;
	margin: 0;
}

.mainHeader {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1em;
	border: 1px dashed black;
	background-size: 50% 100%;
}

.headerLeft {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	font-family: "Impact";
	border-bottom: 1px solid white;
}

.headerRight {
	width: 100%;
	display: flex;
	justify-content: center;
}

#headerRightText {
	text-align: right;
	padding-top: 1.5em;
	padding-left: 1.5em;
	font-size: 1em;
	font-family: "Helvetica";
}

.searchInput {
	margin: 1em;
	height: 30px;
}

.hoverClick {
	font-size: 1.25em;
}

.detailSummary {
	flex-wrap: wrap;
}


