<!-- Need to add sorting filters, next page button, and add item options to top of results -->

<div ng-controller="homeCtrl" class="allContent">
	<div class="container homeContent">
		<!--
		<p class="hoverClick" ng-click="goToItemsPage()">
			LOAD BOOKSHELF <b class="glyphicon glyphicon-arrow-right"></b>
		</p>-->
		<div>
			Welcome to MyBookshelf!
		</div>
		<!-- Refactor later to use angular in form and login functionality -->
		<form class="form-inline" action="/login" method="post">
			<div class="form-group">
				<label for="inputUsername">Username</label>
				<input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"/>
			</div>
			<button type="submit" class="btn btn-primary">
				Log In
			</button> 
			<button type="button" class="btn btn-link" ng-click="goToCreateAccount()">
				Create Account
			</button>
		</form>
	</div>
</div>

<!--ng-click="logIn()"-->
<!-- maybe add this back in, and when clicked, set variable on rootScope to save the username for passing to server -->